# Unity generated folders
Library/
Temp/
Obj/
Logs/
UserSettings/
MemoryCaptures/

# Builds
Build/
Builds/
*.apk
*.aab
*.exe

# Visual Studio / Rider project files
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.unityproj
*.booproj

# Crash / debug stuff
*.stacktrace

# OS junk
.DS_Store
Thumbs.db

# Videos (to avoid the .mp4 size issue)
*.mp4
*.mov
*.avi

.fake